* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif; }

#navigation {
  width: 100%;
  background-color: #189A91;
  height: 100px;
  float: left;
  margin: 0 auto;
  text-align: center;
  color: white; }
  #navigation h1 {
    padding-top: 20px;
    margin: 2px;
    float: left; }
  #navigation i {
    float: left;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    color: white;
    position: relative; }
    #navigation i span {
      display: none;
      font-size: 14px;
      position: absolute;
      left: 15px;
      margin-top: 10px; }
    #navigation i.selected {
      border-bottom: 2px solid white; }
    #navigation i:hover {
      border-bottom: 2px solid white;
      cursor: pointer; }

img {
  height: 400px;
  position: relative;
  float: left;
  margin-left: 10%; }

a {
  color: gray;
  text-decoration: none; }

#projects p {
  display: inline-block;
  width: 50%; }

ul {
  list-style-type: none; }

li {
  padding-left: 20px; }

.textBox {
  padding: 10px;
  margin: auto; }

#projectDiv, #aboutDiv {
  display: none; }

/*-------------------------*/
h2 {
  color: black;
  text-align: center; }

#aboutText {
  background-color: #931CA4;
  height: 380px;
  width: 40%;
  margin-left: 10%;
  display: inline-block;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 10%;
  padding: 10px; }

/*-------------------------*/
#educationDiv h3 {
  text-align: center; }
#educationDiv h2 {
  position: relative; }
#educationDiv #classesBar {
  margin-top: 50px;
  position: relative;
  display: inline-block;
  background-color: black;
  width: 100%; }
  #educationDiv #classesBar #classesBarClasses {
    position: relative;
    width: 600px;
    left: 50%;
    margin-left: -300px; }
    #educationDiv #classesBar #classesBarClasses span {
      vertical-align: top;
      float: left;
      -webkit-transition: all .2s ease-in-out;
      background-color: black;
      color: white;
      font-size: 12px;
      display: inline-block;
      width: 100px;
      height: 80px;
      padding: 10px;
      cursor: default; }
      #educationDiv #classesBar #classesBarClasses span b {
        font-size: 16px; }
      #educationDiv #classesBar #classesBarClasses span#grey:hover {
        background-color: #3B4848; }
      #educationDiv #classesBar #classesBarClasses span#purple:hover {
        background-color: #931CA4; }
      #educationDiv #classesBar #classesBarClasses span#teal:hover {
        background-color: #48C06C; }
#educationDiv #skillsBar {
  display: inline-block;
  position: relative;
  width: 800px;
  height: 100px;
  left: 50%;
  margin-left: -330px;
  /* half of the width  */
  margin-top: -100px;
  /* half of the height */ }
  #educationDiv #skillsBar div {
    display: inline-block;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: 25px;
    background-position: center center; }
    #educationDiv #skillsBar div:hover {
      cursor: pointer; }
#educationDiv #skillsBar2 {
  display: inline-block;
  position: relative;
  width: 80%;
  height: 200px;
  left: 5%;
  top: 100px;
  margin-left: -330px; }
  #educationDiv #skillsBar2 div {
    display: inline-block;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 40px;
    background-position: center center; }

/*-------------------------*/
#projects {
  text-align: center;
  margin: 0 auto; }
  #projects img {
    margin-left: 25%;
    width: 50%;
    height: auto; }

/*# sourceMappingURL=main.css.map */
